<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AlisQI assignment</title>
        <link rel="icon" href="/alisqi-logo.svg">
        {% block stylesheets %}
        {% endblock %}
        
        <script type="module">
            import {Application} from 'https://unpkg.com/@hotwired/stimulus/dist/stimulus.js'
            import LogController from '/js/LogController.js'
            window.Stimulus = Application.start()
            window.Stimulus.register('log', LogController)
        </script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
